.full-waiting{
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  opacity: 70%;
}
@media(max-width: 900px){
  .full-waiting{

    grid-template-columns: 0.5fr 10fr 0.5fr;
  }
}
.data-title{
  width:100%;
  background: darkblue;
  color:white;
  padding: 4px;
}
img{
  margin:5px;
}
.data-full-data{
  min-height: 300px;
}
.func{
  padding: 3px;
}
.func:hover{
  background: darkblue;
}
.choice{
  background: red; color:white; padding:9px; margin-right: 20px;
  border:0; cursor: pointer;
}
.choice:hover{
  opacity:50%;
  font-weight: bold;
}
