/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
body, html{
  margin:0;
  padding:0;
  word-break: break-word;
}
div{
  font-family: 'Oswald', sans-serif;
}
